tr {
    height:5em;               /* // <-- the rows height */
}
    
body{
    height: 100%;
    font-family: "Open Sans", sans-serif;
}
    
.heading{
  display: block;
  margin-left: 120px;
  margin-right: auto;
  width: 50%;
}

.headr{
  display: block;
  margin-left: 130px;
  margin-right: auto;
  width: 50%;
}
#cover-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin: 1em 0em 1em 2em;

}

table{
     height:300px;              /* // <-- Select the height of the table */
     display: -moz-groupbox;    /* // For firefox bad effect */
}


.our-team{
  text-align: center;
}

.our-team hr{
  width: 20%;
  border: 4px solid #007bff;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 0px;
}

.cards-container {
  width: 793px;
  max-width: 100%;
  margin: 1rem auto;
}

.card {
  float: left;
  margin: 3rem;
}

.card-one {
  position: relative;
  width: 300px;
  background: #fff;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}
.card-one header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #c8c;
}
.card-one header::before, .card-one header::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
}
.card-one header::before {
  -webkit-transform: skewY(-8deg);
  transform: skewY(-8deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.card-one header::after {
  -webkit-transform: skewY(8deg);
  transform: skewY(8deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.card-one header .avatar {
  position: absolute;
  left: 50%;
  top: 30px;
  margin-left: -50px;
  z-index: 5;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background: #ccc;
  border: 3px solid #fff;
}
.card-one header .avatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto;
}
.card-one h3 {
  position: relative;
  margin: 80px 0 30px;
  text-align: center;
}
.card-one h3::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 1px;
  background: #000;
}
.card-one .desc {
  padding: 0 1rem 2rem;
  text-align: center;
  line-height: 1.5;
  color: #777;
}
.card-one .contacts {
  width: 200px;
  max-width: 100%;
  margin: 0 auto 3rem;
}
.card-one .contacts a {
  display: block;
  width: 33.333333%;
  float: left;
  text-align: center;
  color: #c8c;
}
.card-one .contacts a:hover {
  color: #333;
}
.card-one .contacts a:hover .fa::before {
  color: #fff;
}
.card-one .contacts a:hover .fa::after {
  width: 100%;
  height: 100%;
}
.card-one .contacts a .fa {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 39px;
  overflow: hidden;
  text-align: center;
  font-size: 1.3em;
}
.card-one .contacts a .fa:before {
  position: relative;
  z-index: 1;
}
.card-one .contacts a .fa::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #c8c;
  -webkit-transition: width .3s, height .3s;
  transition: width .3s, height .3s;
}
.card-one .contacts a:last-of-type .fa {
  line-height: 36px;
}
.card-one footer {
  position: relative;
  padding: 1rem;
  background-color: #007bff;
  text-align: center;
}
.card-one footer a {
  padding: 0 1rem;
  color: #e2e2e2;
  -webkit-transition: color .4s;
  transition: color .4s;
}
.card-one footer a:hover {
  color: #c8c;
}
.card-one footer::before {
  content: '';
  position: absolute;
  top: -27px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom-color: #007bff;
}

.card-two {
  position: relative;
  width: 300px;
  background: #fff;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}
.card-two header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #c8c;
}
.card-two header::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
  -webkit-transform: skewY(8deg);
  transform: skewY(8deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.card-two header .avatar {
  position: absolute;
  left: 50%;
  top: 30px;
  margin-left: -50px;
  z-index: 5;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background: #ccc;
  border: 3px solid #fff;
}
.card-two header .avatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto;
}
.card-two h3 {
  position: relative;
  margin: 80px 0 30px;
  text-align: center;
}
.card-two h3::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 1px;
  background: #000;
}
.card-two .desc {
  padding: 0 1rem 2rem;
  text-align: center;
  line-height: 1.5;
  color: #777;
}
.card-two .contacts {
  width: 200px;
  max-width: 100%;
  margin: 0 auto 3.5rem;
}
.card-two .contacts a {
  display: block;
  width: 33.333333%;
  float: left;
  text-align: center;
  color: #c8c;
}
.card-two .contacts a:hover {
  color: #333;
}
.card-two .contacts a:hover .fa::before {
  color: #fff;
}
.card-two .contacts a:hover .fa::after {
  top: 0;
}
.card-two .contacts a .fa {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 39px;
  overflow: hidden;
  text-align: center;
  border: 2px solid #c8c;
  border-radius: 50%;
}
.card-two .contacts a .fa:before {
  position: relative;
  z-index: 1;
}
.card-two .contacts a .fa::after {
  content: '';
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: top .3s;
  transition: top .3s;
  background: #c8c;
}
.card-two .contacts a:last-of-type .fa {
  line-height: 36px;
}
.card-two footer {
  position: relative;
  height: 45px;
  background-color: #007bff;
  text-align: center;
}
.card-two footer p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.card-two footer p a {
  padding: 0 1rem;
  color: #e2e2e2;
  -webkit-transition: color .4s;
  transition: color .4s;
}
.card-two footer p a:hover {
  color: #c8c;
}
.card-two footer::before {
  z-index: 0;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
  -webkit-transform: skewY(8deg);
  transform: skewY(8deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
}

/*** RESPONSIVE ***/
@media only screen and (max-width: 810px) {
  .card {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}




/* footer starts here  */

.footer-distributed {
  background-color: #000;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: bold 16px sans-serif;

  padding: 55px 40px 40px 20px ;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-image{
    display: inline-block;
    text-align: center;
    margin-bottom: 1em;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 20%;
  display: inline-block;
  text-align: center;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 46px "Cookie", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links .footer-heading{
    font-size: 1.4em;
    font-weight: 80;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  font-size: 1em;
  font-weight: 50;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 30%;
  text-align: left;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center span{
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 50;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 25%;
  text-align: left;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  color: #ffffff;
  font-size: 1.6em;
  font-weight: 50;
  margin-bottom: 10px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}




.bottom-footer {
    width: 100%;
    margin: auto;
    color: white;
    background-color:#393e46 ;
    font-size: 13px;
    padding: 6px;
    text-align: center;
}

.bottom-container {
    width: 100%;
    margin: auto;
}

.bottom-footer p {
    font-size: 16px;
    padding: 2px;
}

.bottom-footer a {
    color: white;
}

.bottom-footer a:hover {
    color: black;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-image{
      text-align: center;
  }


  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}


@media only screen and (max-width: 768px) {
    #cover-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }
  }